<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../output.css" />
  </head>
  <body>
    <main class="px-6 py-16 min-h-screen flex flex-col justify-center items-center">
      <div class="bg-gray-900/80 backdrop-blur-lg border border-yellow-400 shadow-2xl rounded-2xl px-12 py-14 w-full max-w-7xl text-center md:text-left">
        <div class="flex flex-col md:flex-row items-center gap-16">
          <!-- Profile Image -->
          <div class="relative">
            <img 
              src="https://scontent-cgk2-1.xx.fbcdn.net/v/t39.30808-1/472392913_1131583705022911_8589785258182606204_n.jpg?stp=dst-jpg_p160x160_tt6&_nc_cat=103&ccb=1-7&_nc_sid=e99d92&_nc_ohc=EMsEWiHD7egQ7kNvgHqHNOp&_nc_oc=AdgXL3tJGws__p7EXqYAi-LXV-xwyBmL7SJUUot7Cp-V4WcHQpcfp84C9f1Xc-Wso6A&_nc_zt=24&_nc_ht=scontent-cgk2-1.xx&_nc_gid=AcHNMnIC3Z5rUlpBjzICnzV&oh=00_AYCN2OG8YpS1Ilbf6yRhy2Lw4QhE8zGd7PFMQvBAPctDag&oe=67C1085A"
              class="w-48 h-48 md:w-60 md:h-60 rounded-full shadow-lg border-4 border-yellow-300 transform transition-all duration-300 hover:scale-105"
              alt="Profile Picture"
            />
          </div>
    
          <!-- Profile Text -->
          <div class="max-w-3xl">
            <h1 class="text-4xl font-bold text-yellow-300 mb-2">Siam Al Sobari</h1>
            <h2 class="text-lg text-gray-300 font-medium italic">Pelajar & Calon Fullstack Developer</h2>
            
            <p class="mt-6 text-gray-300 leading-relaxed">
              Saya siswa kelas 10 SMK Telkom Pwt yang tertarik di dunia pemrograman, terutama 
              <span class="text-yellow-300 font-semibold">React.js</span> dan 
              <span class="text-yellow-300 font-semibold">Next.js</span>.  
              Saya ingin menjadi seorang 
              <span class="text-yellow-300 font-semibold">Fullstack Developer</span> dan memahami cara 
              <span class="text-yellow-300 font-semibold">deploy aplikasi</span> dengan baik.
            </p>
    
            <p class="mt-4 text-gray-300 leading-relaxed">
              Saat ini saya sedang fokus belajar tentang 
              <span class="text-yellow-300 font-semibold">Pages Router</span> di Next.js dan bagaimana 
              <span class="text-yellow-300 font-semibold">Server-Side Rendering (SSR)</span> serta 
              <span class="text-yellow-300 font-semibold">Static Site Generation (SSG)</span> 
              dapat meningkatkan performa website. Saya juga ingin memahami lebih dalam tentang 
              backend menggunakan <span class="text-yellow-300 font-semibold">Express.js</span>.
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>